<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}<div class="row-fluid">
<div class="container">
    <div class="row">
        <div class="span3"><img src="/static/img/juego1.jpeg"></div>
        <div class="span3"><img src="/static/img/juego2.jpeg"></div>
        <div class="span3"><img src="/static/img/juego3.jpeg"></div>
        <div class="span3"><img src="/static/img/juego4.jpeg"></div>
   		<div class="span3"><img src="/static/img/juego5.jpeg"></div>
        <div class="span3"><img src="/static/img/juego6.jpeg"></div>
        <div class="span3"><img src="/static/img/juego7.jpg"></div>
        <div class="span3"><img src="/static/img/juego8.jpg"></div>
        <div class="span3"><img src="/static/img/juego9.jpeg"></div>
        <div class="span3"><img src="/static/img/juego10.jpeg"></div>
        <div class="span3"><img src="/static/img/juego11.jpeg"></div>
        <div class="span3"><img src="/static/img/juego12.jpeg"></div>
    </div>
</div>
{% endblock %}